{% extends 'authenticated_base.html' %}
{% load static %}

{% block title %}Edit profile | Bookmarks{% endblock %}

{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
        {% for error in profile_form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}

        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
            {% if field.field.widget.input_type != 'file' %}
                <div class="field form-floating mb-2">
                    <input type="{{ field.field.widget.input_type }}" name={{ field.name }} value="{% if field.value %}{{ field.value }}{% endif %}" class="form-control">
                    <label for={{ field.name }}>{{ field.label }}</label>
                </div>
            {% else %}
                <div class="field mb-2">
                    <label for={{ field.name }}>{{ field.label }}</label>
                    <input type="{{ field.field.widget.input_type }}" name={{ field.name }} class="form-control">
                </div>
            {% endif %}
        {% endfor %}

        <button type="submit" class="btn btn-green">Save changes</button>
    </form>
{% endblock %}