<form method="post" enctype='multipart/form-data' action="{% url 'images:image_create' %}" class="js-image-create-form">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Create a new post</h4>
    </div>
    <div class="modal-body">
        {% include 'images/image/form.html' %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default close">Close</button>
        <button type="submit" class="btn btn-primary">Create post</button>
    </div>
</form>