<form method="post" action="{% url 'images:image_delete' image.id %}" class="js-image-delete-form">
  {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Confirm post deletion</h4>
    </div>
    <div class="modal-body">
        <p class="lead">Are you sure you want to delete the post <strong>{{ book.title }}</strong>?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default close" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger">Delete post</button>
    </div>
</form>