{% extends 'authenticated_base.html' %}

{% block title %}Images | Bookmarks{% endblock %}
{% block content %}
    <div class="centered">
        <section class="cards">
            <article class="card-detail">
                <figure class="thumbnail image-poster">
                    <img src="{{ image.image.url }}" >
                </figure>

                <div class="card-content-detail">
                    <div class="wrap">
                        <div class="line-button">
                        {% include 'images/image/button/like.html' %}
                        </div>
                    </div>

                <h3>{{ image.title }}</h3>
                <p>{{ image.desciption }}</p>

                </div>

            </article>
        </section>
    </div>
    {% include 'images/modal.html' %}
{% endblock %}