{% extends 'authenticated_base.html' %}

{% block title %}Images | Bookmarks{% endblock %}

{% block content %}
    <button type="submit" class="btn btn-green js-create-image" data-url="{% url 'images:image_create' %}">
        <span class="glyphicon glyphicon-plus">Add new Image</span>
    </button>
    <main class="main-area" id="book-table">
        <div class="centered">
            <section class="cards" id="cards">
                {% include 'images/list.html' %}
            </section>
        </div>
    </main>
    {% include 'images/modal.html' %}

{% endblock %}

{% block domready %}

{% endblock %}