{% load static %}
{% for image in images %}
    <article class="card">
        <div class="menu-delete">
            {% include 'images/image/button/delete_button.html' %}
        </div>
        <figure class="thumbnail">
            <a href="{{ image.get_absolute_url }}">
                <img src="{{ image.image.url }}">
            </a>
        </figure>
        <div class="wrap">
            <div class="line-button">
                {% include 'images/image/button/like.html' %}
            </div>
            <div class="line-button">
                {% include 'images/image/button/update_button.html' %}
            </div>
        </div>
        <div class="card-content-detail">
            <h3>{{ image.title }}</h3>
            <hr>
            <p>{{ image.desciption|truncatewords:30 }}</p>
        </div>
    </article>
{% endfor %}

