{% extends 'authenticated_base.html' %}
{% load static %}

{% block head_extra %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="{% static 'accounts/js/follow.js' %}"></script>
{% endblock %}

{% block content %}
    <h1 class="heading">People</h1>
    <form class="search-form" method="GET">
        <div class="col-auto">
            <label for="query" class="visually-hidden">Password</label>
            <input type="text" class="form-control" id="query" name="query" placeholder="Type to search">
        </div>
        <button type="submit" class='btn btn-green ml-2'>Search</button>
    </form>
    {% if people %}
    <div class="list">
        {% for person in people %}
            <div class="card m-2" style="width: 18rem;">
                <img src={% if person.profile_image %}{{ person.profile_image.url }}{% else %}"/media/no_avatar.png"{% endif %}
                    class="card-img" alt="{{ person.username }}">
                <div class="card-body">
                    <h5 class="card-title">{{ person.username }}</h5>
                    <p class="card-text">{{ person.first_name }} {{ person.last_name }}</p>
                    <p class="card-text">{{ person.email }}</p>
                    <div class="card-btn-block">
                        <a href="{% url 'accounts:person-detail' person.username %}" class="btn btn-green">Details</a>
                        <div class="followers">
                            {% with followers=person.followers.count %}
                                <span class="counter">{{ followers }}</span> follower{{ followers|pluralize }}
                            {% endwith %}
                        </div>
                        {% if person != request.user %}
                        <a href="#" class="btn btn-green-transparent" id="follow" data-id="{{ person.id }}"
                           data-action="{% if person not in request.user.following.all %}follow{% else %}unfollow{% endif %}">
                            {% if person not in request.user.following.all %}Follow{% else %}Unfollow{% endif %}
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <h1>Nothing found.</h1>
    {% endif %}
{% endblock %}