* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --base-bg-color: #00d656cb;
}

header {
    width: 100%;
    height: 4rem;
    padding: 0.8rem 2rem;
    background-color: var(--base-bg-color);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
}

header>.title {
    color: white;
    font-size: 24px;
    max-width: 200px;
}

header>.logout {
    color: white;
    font-size: 18px;
}

header>.nav {
    justify-content: center;
    flex: 3;
}

header>.nav>li {
    color: white;
    font-size: 18px;
    transition: .2s;
}


header>.nav>li:not(:last-child) {
    margin-right: 2rem;
}

header>.nav>li:hover {
    color: #000;
}

header>.nav>li>a {
    text-decoration: none;
    color: inherit;
}

.content-wrap {
    padding: 2rem;
}

.btn-green {
    color: white;
    border-color: var(--base-bg-color);
    background-color: var(--base-bg-color);
}

/*Images Thumbnail start*/
div .centered {
    padding-top: 1em;
}

.cards {
    width: 70%;

    margin-left: auto;
    margin-right: auto;
}
.card {
	background: white;
	margin-bottom: 2em;
}

.card:hover {
	box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.card-content {
	padding: 0.7em;
}

.card-content h3 {
	margin-top: 0;
	font-weight: normal;
}

.card-content p {
    font-size: 95%;
}

.card img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 40em) {
  .cards {
    margin-top: -1em;
    display: flex;
    padding: 0.4em;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card {
    margin-bottom: 1em;
      margin-right: 1em;
    display: flex;
    flex: 0 1 calc(50% - 0.5em);
     width: calc(50% - 1em);
  }
} /* mq 40em*/

@media screen and (min-width: 60em) {
  .cards {
    margin-top: inherit;
  }

  .card {
    margin-bottom: 2em;
    display: flex;
    flex: 0 1 calc(33% - 0.5em);
     width: calc(33% - 1em);
  }
} /* mq 60em*/


/*Images Thumbnail end*/
/* Create and Update form start*/
.label-form {
    margin: 10px 10px;
}
.label-form label {
    color: maroon; /* Цвет текста */
    font-weight: 600;
}
/* Create and Update form end*/

/*Start buttom delete update like*/
div .wrap {
    width: 100%;

}
div .line-button {
    float: left;
    width: 50%;

}

.img-right {
    padding-right: 0.5em;
    float: right;
}

.img-left {
    padding-left: 0.5em;
}

.img-size {
    width: 1.5em;
    height: 1.5em;

}

.like-image {
    fill: black;
}
 .like-image:hover {
    fill: red;
}

 .add-like-image {
     fill: #ff003b;

 }
 .update-image {
     fill: black;
 }

.update-image:hover {
    fill: #0406ff;
}

.delete-image {
    fill: black;
}

.count span{
    padding-left: 0.4em;
}
/*End buttom delete update like*/


/* Detail images start*/
.card-detail {
	background: white;

    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.card-content-detail {
	padding: 0.7em;
}

.card-content-detail h1 {
	margin-top: 0.4em;
	font-weight: normal;
}

.card-content-detail p {
    font-size: 95%;
}

.card-detail img {
  width: 100%;
  height: auto;
}

.card-detail {
 width: calc(70% - 10em);
}
/* Detail images end */
