* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --base-bg-color: #00d656cb;
}

header {
    width: 100%;
    height: 4rem;
    padding: 0.8rem 2rem;
    background-color: var(--base-bg-color);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    block-size: auto;
}

header>.title {
    color: white;
    font-size: 24px;
    max-width: 200px;
}

header>.logout {
    color: white;
    font-size: 18px;
}

header>.nav {
    justify-content: center;
    flex: 3;
}

header>.nav>li {
    color: white;
    font-size: 18px;
    transition: .2s;
}


header>.nav>li:not(:last-child) {
    margin-right: 2rem;
}

header>.nav>li:hover {
    color: #000;
}

header>.nav>li>a {
    text-decoration: none;
    color: inherit;
}

.content-wrap {
    padding: 2rem;
}

.btn-green {
    color: white;
    border-color: var(--base-bg-color);
    background-color: var(--base-bg-color);
}

.btn-green-transparent {
    color: var(--base-bg-color);
    border-color: var(--base-bg-color);
    background-color: white;
}